.gallery-desc{
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}
.gallery-box{
    width: 40rem;
    height: 20rem;
    align-items: center;
    margin: 1rem;
    
}
.gallery-box h1{
    font-size: 2.5rem;
}
.gallery-box p{
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}